  body {
    touch-action: none;
  
}

#screen{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        overflow: hidden;
        z-index: 0;
        user-select: none;
    }

#script_error{
         position: absolute;
        left: 0;
        top: 0; 
    }